.edit-page, .ok-edit-page, .task-edit-page, .task-ok-edit-page{
	position: initial;
    margin-left: 95%;
}    
.home-work-text, .task-home-work-text{
	word-break: break-all;
}

.chart-labels{
    margin-right: 1%;
	margin-bottom: 1%;
	width: 90%;
    border: 1px solid rgba(255, 255, 255, 0);
    background: rgba(74, 71, 71, 0.15);
    padding: 1px 4px;
    color: #565656;
}
.chart-series{
	margin-right: 1%;
	margin-bottom: 1%;
	width: 90%;
    border: 1px solid rgba(255, 255, 255, 0);
    background: rgba(74, 71, 71, 0.15);
    padding: 1px 4px;
    color: #565656;
}
.chart-labels:focus, .chart-labels:focus{ 
	background: #FFFFFF;
}

.userInfo{

}